<?xml version="1.0" encoding="utf-8" ?>
<RunSettings>
  <TestRunParameters>
    <!--USER LOGIN TEST DATA-->
    <Parameter name="userId" value="20"/>
    <Parameter name="validUserName" value="WinUI3Test"/>
    <Parameter name="invalidUserName" value="Winui4Test"/>
    <Parameter name="validPassword" value="9AxbgTc4(?{|n*"/>
    <Parameter name="invalidPassword" value="9AxbgTc4(?{ABC"/>
    <Parameter name="salt" value="186, 141, 168, 253, 254, 205, 240, 237, 38, 162, 208, 33, 216, 59, 180, 196, 196, 135, 164, 238, 194, 205, 224, 153, 168, 106, 230, 101, 180, 136, 56, 104, 209, 135, 38, 30, 183, 23, 122, 199, 213, 235, 215, 69, 163, 96, 181, 80, 165, 62, 194, 15, 45, 33, 16, 21, 114, 165, 221, 153, 209, 251, 123, 58, 161, 76, 182, 113, 9, 133, 141, 160, 93, 225, 105, 14, 209, 185, 39, 86, 236, 133, 56, 103, 116, 61, 106, 164, 58, 92, 85, 100, 217, 109, 1, 220, 145, 112, 121, 210, 36, 37, 9, 205, 194, 138, 90, 12, 145, 90, 247, 130, 117, 103, 5, 81, 6, 49, 61, 148, 128, 98, 51, 188, 243, 144, 201, 30"/>
    <Parameter name="expectedHashCode" value="kDnFKiIcP/X+0nczVTor5eOxfoNr9FitJ84ZcgCtdqcrDbDtSOjIaRQhC7cWEpGvT4FoTl7ESFx0O/3Pzku4lQ=="/>

    <!--INPUT VALIDATION TEST DATA-->
    <Parameter name="validPasswordInput" value="Eu2%Tn8+Cs1!Hx$"/>
    <Parameter name="passwordMissingLowercase" value="J3$E9,L4(S8+6'P"/>
    <Parameter name="passwordMissingUppercase" value="t9,u1)r#z6p0*5x"/>
    <Parameter name="passwordMissingDigits" value="Dn-Zq$Nj*)Xf%Fg"/>
    <Parameter name="passwordMissingSpecialChars" value="Ee8Zn4VlOaSs1P9"/>
    <Parameter name="requiredInputLength" value="12"/>
    <Parameter name="validLengthInput" value="tyaoemdnt34t"/>
    <Parameter name="validLengthInputWithExtraChars" value="tyaoemdnt34tywo"/>
    <Parameter name="invalidLengthInput" value="tyaoemdnt34"/>
    <Parameter name="firstParameterForCompare" value="abcdefg"/>
    <Parameter name="secondParameterForCompare" value="abcdefg"/>
    <Parameter name="invalidParameterForCompare" value="pvftsql"/>
    <Parameter name="nonEmptyParameter" value ="jweqpov"/>

    <!-- RESET PASSWORD TEST DATA-->
    <Parameter name="userEmail" value="john.doe@gmail.com"/>
    <Parameter name="nonNullInput" value="TEST_INPUT"/>
  </TestRunParameters>
</RunSettings>
